################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mailDomainLookup/c#/bin
/mailDomainLookup/c#/obj
/mailDomainLookup/c#/.vs
