label.toggleLabel { width: 50px; display: inline-block; }
input[type="text"] { width: 50px; }
div.itemContainer { display: inline-block; width: 500px; height: 500px; }
div.inner { background-color: #efefef; }

div.codeContainer { vertical-align: top; }

/*.code { width: 600px;}
.codeHeader { height: 20px; line-height: 20px; color: #fff; background-color: #666; padding: 10px; margin: 0; display: block; }*/
pre, div.pre { background-color: #f4f4f4; color: #333; padding: 15px; border-radius: 5px; overflow: auto; font-family: 'Courier New', monospace; font-size: 14px; line-height: 1.5; margin:0 }
/*.code-block { background-color: #282c34; color: #abb2bf; border-radius: 5px; margin: 15px; overflow: hidden; }
.code-header { background-color: #21252b; padding: 10px; display: flex; justify-content: space-between; align-items: center; }
.code-title { color: #61dafb; margin: 0; }
.code-buttons { display: flex; gap: 10px; }
pre { background-color: #282c34; color: #abb2bf; padding: 15px; border-radius: 0 0 5px 5px; overflow: auto; font-family: 'Courier New', monospace; font-size: 14px; line-height: 1.5; margin: 0; }
button { background-color: #61dafb; color: #282c34; padding: 8px 15px; border: none; border-radius: 3px; cursor: pointer; }*/


.code-block { background-color: #282c34; color: #abb2bf; border-radius: 5px; margin: 15px; overflow: auto; /* Enable scrolling for long content */ white-space: pre; /* Preserve whitespace and line breaks */ font-family: 'Courier New', monospace; font-size: 14px; line-height: 1.5; padding: 15px; }